@import "tailwindcss";

:root {
	--color-palette-red-1: rgb(255, 32, 78);
	--color-palette-red-2: rgb(160, 21, 62);
	--color-palette-red-3: rgb(93, 14, 65);
	--color-palette-red-4: rgb(0, 34, 77);
}

* {
	box-sizing: border-box;
}

.background-with-tint-1 {
	background: scroll;
	height: 100vh;
	background-image: radial-gradient(
			circle,
			rgba(93, 14, 110, 0.2),
			rgba(160, 21, 80, 0.2),
			rgba(170, 30, 70, 0.3),
			black
		),
		url("/retro-game-bg.jpg");

	background-size: contain;
	background-repeat: repeat;
}

.background-with-tint-2 {
	background: scroll;
	height: 100vh;
	background-image: radial-gradient(
			rgba(93, 14, 110, 0.2),
			rgba(160, 21, 80, 0.2),
			rgba(170, 30, 70, 0.3),
			black
		),
		url("/retro-game-bg1.jpg");

	background-size: 100% 100%;
	background-repeat: repeat;
}

.custom-section {
	background-color: gray;
	opacity: 0.8;
}
